*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# manually added compile files latex
*.fls
*.fdb_latexmk
*.pdf

# sublime files:
DSA5TexLayout.sublime-workspace
DSA5TexLayout.sublime-project


